@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Oxygen:wght@300&family=Pacifico&family=Permanent+Marker&family=Source+Code+Pro&display=swap');
 body{
  background-image: url(./photos/IMG_3318.JPG);
  
}



.navbar {
  display: flex;
    overflow:hidden;
    color: black;
    background-color:rgb(255, 217, 0);
    font-family: 'Tinos', serif;
    border: 3px solid black;
    /* margin-bottom: 2%; */
   
    
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  
  }
   .dropdown {
    float: left;
    overflow: hidden;
   font-family:  'Tinos', serif;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Tinos', serif;;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(214, 135, 9);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(201, 199, 199, 0.2);
    z-index: 1;
  } 
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block; }

    header{
      text-align: center;
      /* justify-content: center; */
      display: block;
    align-self: center;
    color:black;
    background-color:rgb(47, 106, 233);
    /* rgb(102, 72, 38); */
  
    font-weight: 400;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    border: 3px solid  black;
    
    }

   
   

  


.getmyquote{
  background-color: rgb(47, 106, 233);
  display:flexbox;
  text-align: center;
  border: 3px solid  black;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 10%;
  
}

img{
align-items: center;
width: 90%;
height: 90%;
border: 3px solid black;
justify-content: space-evenly;


  } 


.contact-heading{
  text-align: center;
    color:black;
    background-color:rgb(47, 106, 233);
    font-weight: 400;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    border: 3px solid  black;
}

.quote-header{
  text-align: center;
  color:black;
  background-color:rgb(47, 106, 233);
  font-weight: 400;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  border: 3px solid  black;
}
#getmyquote{
  display: block;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color:rgb(165, 125, 73);
  /* #20450ff8; */ 
   /* rgb(102, 72, 38); */
 margin-left:7%;
 margin-right:7%;
 margin-top: 0%;
  padding: 4%;
  border: 3px solid black; 
}
.review-body{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color:rgb(165, 125, 73);
  /* #20450ff8; */ 
   /* rgb(102, 72, 38); */
 margin-left:7%;
 margin-right:7%;
 margin-top: 0%;
  padding: 4%;
  border: 3px solid black;
}
.reviews-heading{
  text-align: center;
  color:black;
  background-color:tan;
  /* rgb(102, 72, 38); */

  font-weight: 400;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  border: 3px solid  black;
}

.contact-body{
  display: flex;
  background-color: rgb(165, 125, 73);
  padding: 20%;
  margin-left: 7%;
  margin-right: 7%;
  border: 3px solid black;
}
.review-body{
  display: flex;
  background-color: rgb(165, 125, 73);
  text-align: center;
  padding-bottom: 20%;
  margin-left: 7%;
  margin-right: 7%;
  border: 3px solid black;
  
}
.label-review{
  display: block;
  text-align:center;
  color:black;
  background-color:rgb(4, 158, 4);
  /* rgb(102, 72, 38); */

  font-weight: 400;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  border: 3px solid  black;
}
.input-review-text{
  display: flex;

  color:black;
  background-color:tan;
  padding: 5%;
  font-family: 'Source Code Pro', monospace;
  border: 3px solid  black;
  align-self: center;
}
.about-us-text{
  display: flex;
  background-color: tan;
  padding: 5%;
  margin: 2%;
  border: 3px solid  black;
  font-family: 'Source Code Pro', monospace;
}
.madewithlove{
  text-align: center;
  background-color: rgb(165, 125, 73);

}
#review-body, #post {
  border: 3px solid  black;
  border-radius: 5px;
}
#post:hover{
  background-color: deeppink;
}

.main{
  padding:20px;
  font-family: 'Helvetica', serif;
  box-shadow: 5px 5px 7px 5px #888888;
    
}
.main h1{
  font-size: 40px;
  text-align:center;
  font-family: 'Helvetica', serif;
    
}
input{
  font-family: 'Helvetica', serif;
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #767474;
}
input[type=submit] {
  font-family: 'Helvetica', serif;
  width: 100%;
  background-color: rgb(47, 106, 233);
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
}

.input-form{
  display: flex;
  background-color: rgb(165, 125, 73);
  text-align: center;
  padding-bottom: 20%;
  margin-left: 7%;
  margin-right: 7%;
  border: 3px solid black;
}
footer{
  display: flex;
  background-color:tan;
  justify-content:  space-around;
  
  margin: 0%;
}

  
  

#home-logo{
display: flex;
  border-radius: 75%;
  justify-content: center;
  border: 3px solid rgb(47, 106, 233);
}
.home-page{
  display: flex;
  justify-content: space-evenly;
}

/* }
#pic1{

  border: 3px solid black; */


.pics {
width: 100%;


justify-content: center;


display: flex;
 


  list-style: none;
}
.pictures{
  /* padding-bottom: 0%;
  margin-top:3%;
  margin-bottom: 3%; */
  /* padding:1%; */
  display: inline-flex;
 
  /* margin-left: 5%;
  margin-right: 5%; */
 

  
  /* margin-left:1%;
  margin-top: 2%;
  padding-left: 3%;
  padding-top: 4%; */
  background-color:rgb(165, 125, 73);

}
/* #pic2{
 
  border: 3px solid black;
  

}
#pic3{

  border: 3px solid black; */

