@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Condiment&family=Oxygen:wght@300&family=Pacifico&family=Permanent+Marker&family=Source+Code+Pro&display=swap');
 body{
  background-image: url(./photos/IMG_3318.JPG)
  ;
}



.navbar {
  display: flex;
    overflow:hidden;
    color: black;
    background-color:tan;
    font-family: 'Tinos', serif;
    border: 3px solid black;
    /* margin-bottom: 2%; */
   
    
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  
  }
   .dropdown {
    float: left;
    overflow: hidden;
   font-family:  'Tinos', serif;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Tinos', serif;;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(214, 135, 9);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(201, 199, 199, 0.2);
    z-index: 1;
  } 
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block; }

    header{
    text-align: center;
    color:black;
    background-color:rgb(4, 158, 4);
    /* rgb(102, 72, 38); */
  
    font-weight: 400;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    border: 3px solid  black;
    
    }
  
    ol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color:rgb(165, 125, 73);
    /* #20450ff8; */ 
     /* rgb(102, 72, 38); */
   margin-left:7%;
   margin-right:7%;
   margin-top: 0%;
    padding: 2%;
    border: 3px solid black;
    }
  
.aboutus{
  text-align: center;
  color:black;
  background-color:tan;
  /* rgb(102, 72, 38); */
margin-top: 0%;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  border: 3px solid  black;
  

}

.getmyquote{
  background-color: rgb(165, 125, 73);
  display:flexbox;
  text-align: center;
  border: 3px solid  black;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 10%;
}

img{
  border: 3px solid black;
}


.contact-heading{
  text-align: center;
    color:black;
    background-color:tan;
  
  
    font-weight: 400;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    border: 3px solid  black;
}
.quote-header{
  text-align: center;
  color:black;
  background-color:tan;
  /* rgb(102, 72, 38); */

  font-weight: 400;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  border: 3px solid  black;
}
#review-body{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color:rgb(165, 125, 73);
  /* #20450ff8; */ 
   /* rgb(102, 72, 38); */
 margin-left:7%;
 margin-right:7%;
 margin-top: 0%;
  padding: 2%;
  border: 3px solid black;
}
.reviews-heading{
  text-align: center;
  color:black;
  background-color:tan;
  /* rgb(102, 72, 38); */

  font-weight: 400;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  border: 3px solid  black;
}

.contact-body{
  display: flex;
  background-color: rgb(165, 125, 73);
  padding-bottom: 20%;
  margin-left: 7%;
  margin-right: 7%;
}