@import 'bootstrap/dist/css/bootstrap.min.css';
 body{
  background-image: url(./photos/IMG_3318.JPG)
  ;
}



.navbar {
    overflow:hidden;
    color: black;
    background-color:tan;
    font-family: 'Tinos', serif;
    border: 3px solid black;
    margin-bottom: 2%;
   
    
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  
  }
   .dropdown {
    float: left;
    overflow: hidden;
   font-family:  'Tinos', serif;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Tinos', serif;;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(214, 135, 9);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(201, 199, 199, 0.2);
    z-index: 1;
  } 
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block; }

    header{
    text-align: center;
    color:black;
    background-color:green;
    /* rgb(102, 72, 38); */
    border: 3px solid  black;
    
    }
  
    .pics{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color:rgb(165, 125, 73);
    /* #20450ff8; */ 
     /* rgb(102, 72, 38); */
   
    padding: 2%;
    border: 3px solid black;
    margin-left: 7%;
    margin-right: 7%;
    
   }
.aboutus{
  text-align: center;
  color: black ;
  background-color:tan ;
   /* rgb(172, 140, 103) ; */
   border: 3px solid  black;
  margin-top:2%; 
  

}

.getmyquote{
  background-color: rgb(165, 125, 73);
  display:flexbox;
  text-align: center;
  border: 3px solid  rgb(236, 233, 14);
}

img{
  border: 3px solid black;
}


